* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(14, 14, 14);
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 56px;
}
i {
  color: white;
  font-size: 18px;
}

header {
  padding: 0px 12px;
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: -1px;
  width: 98%;
}
button {
  cursor: pointer;
}
header button {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: none;
}

header button:hover,
header button:hover i {
    background-color: rgba(241, 235, 235, 0.137);
}

.con-1 {
  display: flex;
  column-gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .3s;
}

.list hr {
  width: 20px;
  margin-bottom: 5px;
}

.list:hover {
  background-color: rgba(241, 235, 235, 0.23);
}

.logo img {
  width: 120px;
}

.search-2 {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 71%;
}

input {
  outline: none;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #666;
  height: 80%;
  border-radius: 40px 0px 0px 40px;
}

.search-logo {
  border-radius: 0px 40px 40px 0px;
  background-color: rgba(241, 235, 235, 0.075);
  position: absolute;
  border-left: 1px solid #666;
  top: 8px;
  height: 60%;
}

.personal-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

main {
  display: flex;
}

aside {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
}

aside ul {
  list-style: none;
}

aside ul li{
  transition: .3s;
}


aside ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 8px;
  width: 64px;
  padding: 20px 0px;
}

aside ul li a:hover,
aside ul li a:hover div,
aside ul li a:hover i {
  background-color: rgba(241, 235, 235, 0.075);
}

aside ul li a i {
  color: white;
  font-size: 18px;
}
aside ul li div{
  text-align: center;
  color: white;
  font-size: 10px;
}

section {
  padding: 100px 20px 40px 85px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

/* section article {
  
} */

section article a {
  text-decoration: none;
}

section article a figure img{
  width: 100%;
  border-radius: 8px;
}

section article figcaption {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

section article figcaption .image img{
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

section article figcaption .title {
  display: flex;
  flex-direction: column;
}
section article figcaption .title p{
  margin-bottom: 7px;
}

section article figcaption .title .channel-name a,
section article figcaption .title .stats span{
  color: #a7a7a7;
  transition: .5s;
  font-size: 14px;
  margin-bottom: 3px;
}

section article figcaption .title .channel-name a:hover {
  color: #f8f7f7;
}

section article figcaption .title .stats span {
  margin-right: 5px;
}
