* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  color: white;
}

footer {
  width: 100%;
  background-color: #130c58;
}

.first,
.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 60px;
  border-bottom: 1px solid gray;
}

.first h2 {
  font-weight: 300;
  font-size: 32px;
  width: fit-content;
}

.first ul {
  display: flex;
  justify-content: center;
}

.first ul li {
  list-style: none;
  margin-right: 15px;
}

.first ul li a {
  color: white;
  background-color: red;
  text-decoration: none;
  width: 18px;
  height: 18px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first ul li:nth-child(1) a {
  background-color: #4368ab;
}
.first ul li:nth-child(2) a {
  background-color: #000;
}
.first ul li:nth-child(3) a {
  background-color: #da3166;
}
.first ul li:nth-child(4) a {
  background-color: #0076b0;
}
.first ul li:nth-child(5) a {
  background-color: #ff0104;
}

.second {
  flex-wrap: wrap;
  border: none;
}

.second .links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 2;
  gap: 50px;
}

.links div {
  width: 100px;
}

.links div h3,
.regs h3{
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 24px;
  position: relative;
}
.links div h3::after,
.regs h3::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 35px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  transform: translateX(-50%);
}

.links div ul li {
  list-style: none;
  margin-bottom: 17px;
}

.links div ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.links div ul li a:hover {
  border-bottom: 2px solid white;
}

.second .regs {
  flex-grow: 1;
}

.regs input {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 10px 0px 10px 15px;
  background-color: transparent;
  margin-bottom: 10px;
  height: 40px;
  color: white;
  font-size: 18px;
}

.regs .input::placeholder {
  color: gray;
}

.regs input[type="submit"] {
    background-color: white;
    border: 2px solid white;
    color: #130c58;
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 670px) {
  .first, 
  .second,
  .third{
    flex-direction: column;
    justify-content: center;
  }
  .second .links,
  .second .regs {
    width: 100%;
  }
}


.third {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #0c083a;
  font-weight: 300;
  font-size: 14px;
}

.third p a {
  color: white;
  text-decoration: none;
  margin: 0px 7px;
}
.third p a:hover {
  border-bottom: 2px solid white;
}